<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Sachin Ak</h2>
            <h4>Sachin@email.com</h4>
        </div>
        <img src="assets/images/sachin.jpeg" alt="Sachin Ak">
    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Explore</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>dashboard</mat-icon>
        Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon>book</mat-icon>
        Learning</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/stocks">
        <mat-icon>trending_up</mat-icon>
        Stocks</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Help</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>



</mat-nav-list>

