<div fxLayoutAlign=" flec-center">

<section class="hero is-primary is-bold">
    <div class="hero-body">
    <div class="container">

      <h1 class="title">Contact Us!</h1>

    </div>
    </div>
</section>
</div> 

<div fxLayoutAlign="flex-center">
<section class = "section">
    <div class="container">

        <form>

            <!-- name -->
            <div class="field">
                <mat-form-field appearance ="outline">
                    <mat-label>Name</mat-label>
                    <input matInput name = "name" >
                </mat-form-field>
            </div>
          
            <!-- email -->
            <div class="field">
                <mat-form-field appearance ="outline">
                    <mat-label>Email</mat-label>
                    <input matInput name="email" >
                </mat-form-field>
            </div>
          
            <!-- message -->
            <div class="field">
                <mat-form-field appearance ="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput name="phone">
                </mat-form-field>
            </div>

            <div class ="field">  
                <mat-form-field  appearance ="outline" floatlabel = "auto">
                    <mat-label>Your Query</mat-label>
                    <textarea matInput placeholer = "Ex. What does this website provide to users?.."> </textarea>
                </mat-form-field>
            </div>
          
            <button mat-raised-button color = "primary">Submit</button>
          
          </form>

    </div>
</section>

</div>