    
        <mat-accordion multi = "true">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                   <mat-panel-title>
                       Investing
                   </mat-panel-title>
                   <mat-panel-description>
                       Learn Investing
                   </mat-panel-description>
                </mat-expansion-panel-header>
                <p>This is a complete module on Investing</p>
                <mat-action-row>
                    <button mat-raised-button color="primary">Hop-In!</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                   <mat-panel-title>
                       Trading
                   </mat-panel-title>
                   <mat-panel-description>
                       Learn Trading
                   </mat-panel-description>
                </mat-expansion-panel-header>
                <p>This is a complete module on Trading</p>
                <mat-action-row>
                    <button mat-raised-button color="primary">Hop-In!</button>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>
        
