<div  fxLayout="row" fxLayoutAlign=" space-between center" fxLayoutGap="20px">
    <mat-card class="example-card">
        <mat-card-header>
          
          <mat-card-title>Choose your stock</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image src="assets/images/background.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Please Enter any stock of your choice to know the right point
            to invest
          </p>
          <mat-divider></mat-divider>

          <mat-form-field class = "yourstock">
              <mat-label>Your Stock</mat-label>
              <input matInput>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color ="primary">Enter</button>
          
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          
          <mat-card-title>Your Complete Stock Analysis</mat-card-title>
          
        </mat-card-header>
        <img mat-card-image src="assets/images/background.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            This is our Analysis of your Selected stock
          </p>
        </mat-card-content>
        
      </mat-card>

</div>


  